<div class="row">
	<div class="col-lg-6 offset-lg-3">
		<div class="card">
		  <div class="card-header">
		  	<center><h4>Create Event</h4></center>
		  </div>
		  <div class="card-body">Content</div>
		</div>
	</div>
</div>