<div class="row">
	<div class="col-lg-6">
		<div class="card">
		  <div class="card-header">
		  	<center><h4>Create Event</h4></center>
		  </div>
		  <div class="card-body">
			<%= simple_form_for(@event, url: events_path) do |f| %>
				<div class="col-lg-5">
					<%= f.input :name, input_html: { class: 'form-control ' } %>
				</div>
			  	<%= f.button :submit %>
			<% end %>
		  </div>
		</div>
	</div>
</div>
